/build/
/bin/
.classpath
.gradle/2.7/taskArtifacts/cache.properties
.gradle/2.7/taskArtifacts/cache.properties.lock
.gradle/2.7/taskArtifacts/fileHashes.bin
.gradle/2.7/taskArtifacts/fileSnapshots.bin
.gradle/2.7/taskArtifacts/outputFileStates.bin
.gradle/2.7/taskArtifacts/taskArtifacts.bin
.project
.settings/gradle/org.springsource.ide.eclipse.gradle.core.import.prefs
.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
