<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Successful registration</title>
		
	</head>
	
	<body>
		<div id="content">
			<div class="registerURLForm">
				<h1>Register new URL successfully completed.</h1>
			</div>
			<div class="urlText" th:text="${url}">New URL text</div>&nbsp;-><div id="urlShortText" class="urlShortText" th:text="${url_short}">Short URL text</div>&nbsp;(Please, Ctrl+C it; you'll need to paste it in the next screen.)
			
			<div class="verify">
				<a th:href="@{/browse}">Browse URL</a>
			</div>
		</div>
	</body>	
</html>